<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Huellitas | Farmacia</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Huellitas 🐾 PetShop </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Farmacia</a>
                    <a class="nav-link" href="./jueguetes.html">Juguetes</a>
                </div>
            </div>
        </div>
    </nav>
    <main id="app" class="main-productos">

        <form class="d-flex justify-content-center" role="search">
            <input class="mt-2 buscador" type="search" placeholder="Buscar" v-model="inputSearch" aria-label="Search" />
        </form>
        {{filtroInputSearch}}
        <div class="card-contenedor">
            <template v-if="valueInputSearch.length > 0" v-for="producto of valueInputSearch">
                <div class="card card-jyf d-flex align-items-center flex-wrap">
                    <template v-if="producto.disponibles > 5">
                        <p class="cantidad"><span>Stock: {{producto.disponibles}}</span></p>
                    </template>
                    <template v-if="producto.disponibles <= 5 && producto.disponibles >= 1 ">
                        <p class="cantidad bg-danger"><span>Ultimos: {{producto.disponibles}}</span></p>
                    </template>
                    <template v-if="producto.disponibles == 0">
                        <p class="cantidad bg-danger"><span>Sin Stock</span></p>
                    </template>
                    <img v-bind:src="producto.imagen" class="card-img-top imagenes-jyf" alt="" />
                    <section class="card-body text-center d-flex flex-column justify-content-between w-100">
                        <h5>{{producto.producto}}</h5>
                        <div>
                            <p class="fw-bold d-flex justify-content-around">
                                <span class="parrafo-card">$ {{producto.precio}}</span>
                            </p>
                            <button
                                class="btn boton-agregar-carrito w-50 mx-auto mb-2 d-flex rounded-pill align-items-center justify-content-center gap-2 pillsizemin">
                                <i class="bi bi-bag-plus"></i>
                                <!-- <i class="bi bi-bag-plus-fill"></i> -->
                                <span>Agregar</span>
                            </button>
                            <!-- <a :href="'./pages/details.html?idEvent='+ event._id" class="btn btn-primary">Details</a> -->
                        </div>
                    </section>
                </div>
            </template>
            <div v-else>
                <h2>No se encontró el producto</h2>
            </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../scripts/farmacia.js"></script>
</body>

</html>