:root {
    --principal: #224e80;
    --secundario: #794d1a;
    --claro: #fcf9f3;
    --oscuro: #000414;
    --fuente: "Montserrat", sans-serif;
    --titulos: "Barlow Condensed", sans-serif;
    --forma: "M11.954 11c3.33 0 7.057 6.123 7.632 8.716.575 2.594-.996 4.729-3.484 4.112-1.092-.271-3.252-1.307-4.102-1.291-.925.016-2.379.836-3.587 1.252-2.657.916-4.717-1.283-4.01-4.073.774-3.051 4.48-8.716 7.551-8.716zm10.793-4.39c1.188.539 1.629 2.82.894 5.27-.704 2.341-2.33 3.806-4.556 2.796-1.931-.877-2.158-3.178-.894-5.27 1.274-2.107 3.367-3.336 4.556-2.796zm-21.968.706c-1.044.729-1.06 2.996.082 5.215 1.092 2.12 2.913 3.236 4.868 1.87 1.696-1.185 1.504-3.433-.082-5.215-1.596-1.793-3.824-2.599-4.868-1.87zm15.643-7.292c1.323.251 2.321 2.428 2.182 5.062-.134 2.517-1.405 4.382-3.882 3.912-2.149-.407-2.938-2.657-2.181-5.061.761-2.421 2.559-4.164 3.881-3.913zm-10.295.058c-1.268.451-1.92 2.756-1.377 5.337.519 2.467 2.062 4.114 4.437 3.269 2.06-.732 2.494-3.077 1.377-5.336-1.125-2.276-3.169-3.721-4.437-3.27z"
}

input, button,textarea,select {
    font: inherit;
}

.main-productos {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-image: url(../images/blob-scene-haikei\ \(4\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 900vh;
    color: var(--oscuro);
    font-family: var(--fuente);
}

    .btn {
        
        background: none;
        border: 2px solid #fcf9f3;
        font-size: 15px;
        color: #000414;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 12px;
        background-color: #805422;
        font-weight: bolder;
        box-shadow: 0 2px 0 2px #000414;
    }

    .btn:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 120%;
        background-color: #fcf9f3;
        top: 50%;
        transform: skewX(30deg) translate(-150%, -50%);
        transition: all 0.5s;
    }

    .btn:hover {
        background-color: #224E80;
        color: #fcf9f3;
        box-shadow: 0 2px 0 2px #80b9f0;
    }

    .btn:hover::before {
        transform: skewX(30deg) translate(150%, -50%);
        transition-delay: 0.1s;
    }

    .btn:active {
        transform: scale(0.9);
    }
    .title-word {
        animation: color-animation 4s linear infinite;
    }
    
    .title-word-1 {
        --color-1: #a1c4ec;
        --color-2: #ca873b;
        --color-3: #E4A9A8;
    }

    .title-word-2 {
        --color-1: #ca873b;
        --color-2: #ACCFCB;
        --color-3: #a1c4ec;
    }

    @keyframes color-animation {
        0%    {color: var(--color-1)}
        32%   {color: var(--color-1)}
        33%   {color: var(--color-2)}
        65%   {color: var(--color-2)}
        66%   {color: var(--color-3)}
        99%   {color: var(--color-3)}
        100%  {color: var(--color-1)}
    }
    
    .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        text-transform: uppercase;
    }
    .texto-facha{
        background-image: linear-gradient(90deg, #e958ee, #571ae4);
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 800ms ease;
    
    }
    .texto-facha:hover{
        background-size: 100% 3px;
      }
      .texto-facha2{
        background-image: linear-gradient(90deg, #e958ee, #571ae4);
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 800ms ease;
    
      }
      .texto-facha2:hover{
        background-size: 100% 3px;
      }

    .bienv{
        color: var(--claro);
    }
    .bienv2{
        color: #fcf9f3!important;
        font-size: 20px;
    }

/* Here are just some visual styles. 🖌 */

.container {
    display: grid;
    place-items: center;
    text-align: center;
    height: 15vh
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.texto-facha {
    background-image: linear-gradient(90deg, #e958ee, #571ae4);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 800ms ease;

}

.texto-facha:hover {
    background-size: 100% 3px;
}

.bienv {
    color: var(--claro);
}

.bienv2 {
    color: #fcf9f3 !important;
    font-size: 20px;

}

.header {
    background-image: url(../images/fede\ pets2.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #000414;
}

textarea {
    resize: none;
}

h1, h2, h3,h4 {
    font-family: var(--titulos);
}

li {
    list-style-type: none;
}

[v-cloak] {
    display: none !important;
}

.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen--pagos-carrito {
    width: 5rem;
}

.imagen--gato-carrito {
    width: 15rem;
}

.boton-agregar-carrito {
    color: var(--oscuro);
    border-radius: 1rem;
    border: 1px solid black;
    width: 40vw;
}

.boton-agregar-carrito:hover {
    background-color: var(--principal);
}

.btn--carrito-comprar {
    background-color: var(--principal);
    color: var(--claro);
}

.card-header {
    background-color: var(--principal);
    color: var(--claro);
}

.texto--color-principal {
    color: var(--principal);
}

.carrito-cantidad {
    width: 1.7rem;
}

.carrito-imagen {
    border: 1px inset var(--principal);
    height: 11rem;
}

header {
    min-height: 30vh;
    min-width: 100%;
}

.navbar {
    background-color: #224e80;
}

.nav {
    background-color: #224E80 !important;
    color: #fcf9f3;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.rounded {
    width: 15rem;
}

main {
    min-height: 80vh;
}

footer {

    background-color: #224E80;
    padding: 20px 0;
    color: #fcf9f3;
}

.footer-container {
    display: flex;
    justify-content: space-around;

}

.footer-column h3 {
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}


.footer-column p {
    font-size: 11px;
}

.footer-column img {
    height: 6rem;
    display: flex;

.navbar{
    border: none;
    background-color: #224E80 !important;
    /* color: #fcf9f3 ; */
   /*  z-index: 1000; */
}
.nav-link{
    color: #fcf9f3 ;
}
.navbar-toggler {
    color: #fcf9f3;
    background-color: #fcf9f3;
    border-color: #fcf9f3;
}

.rounded{
    width: 15rem;
}

footer {
    min-height: 25vh;
    background-color: #224E80;
    padding: 20px 0;
    color: #fcf9f3;
    width: 100%;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        
    }
    .footer-column h3 {
        font-family: sans-serif;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .footer-column p{
        font-size: 11px;
    }

    .footer-column img {
    height: 6rem;
    display: flex;
    font-family: sans-serif;
    margin-bottom: 5px;

    }
    .footer-bottom{
    font-size: 11px;
    text-align: center;
    border-top: solid 1px #5e90ec;
    padding:15px;
    }

.bi-facebook, .bi-twitter, .bi-instagram {
    color: var(--claro)
}

.bi-facebook:hover, .bi-twitter:hover, .bi-instagram:hover {
    color: var(--secundario)
}

ul {
    list-style: none;
    padding: 0;
 }

.dropdown {
    list-style: none;
}

.card-jyf {
    object-fit: contain;
    margin-top: 1rem;
    min-height: 50vh;
    width: 70vw;
}

.imagenes-jyf {
    width: 100%;
    height: 50vh;
}

.card:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.cantidad {
    margin-top: 1rem;
    color: var(--claro);
    background-color: rgb(53, 141, 53);
    border-radius: 15px;
    padding: 6px;
    font-weight: 700;
    font-size: 15px;
}

.buscador {
    text-align: center;
    border: 2px solid var(--principal);
    border-radius: 6px;
}

::placeholder {
    font-size: 1.2rem;
}

.buscador:hover {
    background-color: var(--principal);
}

.imgContact{
    width: 100%!important;

.boton-detalles {
    padding: 2px;
    border: none;
    width: 40vw;
}

.imagen-detalles {
    width: 40%;
    border-radius: 4px;
}

.body-productos {
    height: 16vh;
    display: flex;
    flex-direction: column;
}

.contenedor-modal {
    --bs-modal-width: 80vw;

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card-jyf {
        width: 40vw;
        min-height: 40vh;
        object-fit: contain;
    }

    .card-contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }


    .boton-detalles {
        width: 20vw;
    }

    .body-productos {
        height: 16vh;
    }

    .boton-agregar-carrito {
        width: 20vw;
    }
}


@media only screen and (min-width: 1024px) {
    .card-jyf {
        width: 20vw;
        min-height: 20vh;
        object-fit: contain;
    }

    .card-contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}
.cat{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
    width: 20rem;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
  .contenedorC {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    padding : 30px;  
  }
  
  .wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
  }
  
  .card {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card:hover {
    transform: translateY(20px);
  }
  .card:hover:before {
    opacity: 1;
  }
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  .card .info h1 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  .card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .card .info button:hover {
    background: dodgerblue;
    color: white;
  }

    .boton-detalles {
        width: 15vw;
    }

    .body-productos {
        height: 20vh;
    }

    .boton-agregar-carrito {
        width: 15vw;
    }
}
