:root {
    --principal: #224e80;
    --secundario: #794d1a;
    --claro: #fcf9f3;
    --oscuro: #000414;
    --fuente: "Montserrat", sans-serif;
    --titulos: "Barlow Condensed", sans-serif;
}


body {
    background-image: url(../images/blob-scene-haikei\ \(3\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--oscuro);
    font-family: var(--fuente);
}

input, button,textarea,select {
    font: inherit;
}

.main-productos {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .oferta{
        border: solid red;
    }
    .btn {
        
        background: none;
        border: 2px solid #fcf9f3;
        font-size: 15px;
        color: #000414;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 12px;
        background-color: #805422;
        font-weight: bolder;
        box-shadow: 0 2px 0 2px #000414;
    }

    .btn:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 120%;
        background-color: #fcf9f3;
        top: 50%;
        transform: skewX(30deg) translate(-150%, -50%);
        transition: all 0.5s;
    }

    .btn:hover {
        background-color: #224E80;
        color: #fcf9f3;
        box-shadow: 0 2px 0 2px #80b9f0;
    }

    .btn:hover::before {
        transform: skewX(30deg) translate(150%, -50%);
        transition-delay: 0.1s;
    }

    .btn:active {
        transform: scale(0.9);
    }
    .title-word {
        animation: color-animation 4s linear infinite;
    }
    
    .title-word-1 {
        --color-1: #a1c4ec;
        --color-2: #ca873b;
        --color-3: #E4A9A8;
    }

    .title-word-2 {
        --color-1: #ca873b;
        --color-2: #ACCFCB;
        --color-3: #a1c4ec;
    }

    @keyframes color-animation {
        0%    {color: var(--color-1)}
        32%   {color: var(--color-1)}
        33%   {color: var(--color-2)}
        65%   {color: var(--color-2)}
        66%   {color: var(--color-3)}
        99%   {color: var(--color-3)}
        100%  {color: var(--color-1)}
    }
    
      /* Here are just some visual styles. 🖌 */
    
    .container {
        display: grid;
        place-items: center;  
        text-align: center;
        height: 15vh
    }
    
    .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        text-transform: uppercase;
    }
    .texto-facha{
        background-image: linear-gradient(90deg, #e958ee, #571ae4);
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 800ms ease;
    
    }
    .texto-facha:hover{
        background-size: 100% 3px;
    }
    .bienv{
        color: var(--claro);
    }
    .bienv2{
        color: #fcf9f3!important;
        font-size: 20px;
        
    }
    .header{
        
        background-image: url(../images/fede\ pets2.jpg);
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: #000414;
    }

textarea {
    resize: none;
} 

h1, h2, h3,h4 {
    font-family: var(--titulos);
}

[v-cloak] {
    display: none !important;
}

.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen--pagos-carrito {
    width: 5rem;
}

.imagen--gato-carrito {
    width: 15rem;
}

.boton-agregar-carrito {
    color: var(--oscuro);
    border-radius: 1rem;
    border: 1px solid black;
}

.boton-agregar-carrito:hover {
    background-color: var(--principal);
    color: var(--claro);
}

.btn--carrito-comprar {
    background-color: var(--principal);
    color: var(--claro);
}

.btn--carrito-comprar:hover {
    border: 1px solid var(--principal);
    color: var(--principal);
}

.btn--carrito-borrar {
    border: 2px solid var(--secundario);
    color: var(--secundario);
}

.btn--carrito-borrar:hover {
    background-color: var(--secundario);
    color: var(--claro);
}

.card-header {
    background-color: var(--principal);
    color: var(--claro);
}

.texto--color-principal {
    color: var(--principal);
}

.carrito-cantidad {
    width: 1.7rem;
}

.carrito-imagen {
    border: 1px inset var(--principal);
    height: 11rem;
}

header {
    height: 10vh;
}

.navbar {
    background-color: #224e80;
}

header{
    min-height: 10vh;
}
.navbar{
    border: none;
    background-color: #224E80 !important;
    /* color: #fcf9f3 ; */
   /*  z-index: 1000; */
}
.nav-link{
    color: #fcf9f3 ;
}
.navbar-toggler {
    color: #fcf9f3;
    background-color: #fcf9f3;
    border-color: #fcf9f3;
}

.rounded{
    width: 15rem;
}
main{
    min-height: 75vh;
}

footer {
    min-height: 25vh;
    background-color: #224E80;
    padding: 20px 0;
    color: #fcf9f3;
    width: 100%;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        
    }
    .footer-column h3 {
        font-family: sans-serif;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .footer-column p{
        font-size: 11px;
    }

    .footer-column img {
    height: 6rem;
    display: flex;
    font-family: sans-serif;
    margin-bottom: 5px;

    }
    .footer-bottom{
    font-size: 11px;
    text-align: center;
    border-top: solid 1px #5e90ec;
    padding:15px;
    }

.bi-facebook, .bi-twitter, .bi-instagram {
    color: var(--claro)
}

.bi-facebook:hover, .bi-twitter:hover, .bi-instagram:hover {
    color: var(--secundario)
}

ul {
    list-style: none;
    padding: 0;
    }

    /* .footer-bottom {
    background-color: #ddd;
    color: #000414;
    padding: 10px 0;
    text-align: center;
} */

.dropdown {
    list-style: none;
}

.card-jyf {
    object-fit: contain;
    margin-top: 1rem;
    min-height: 60vh;
    width: 70vw;
}

.imagenes-jyf {
    width: 100%;
    height: 50vh;
}

.card:hover {
    border-color: #224e80;
}

.cantidad {
    margin-top: 1rem;
    color: var(--claro);
    background-color: rgb(53, 141, 53);
    border-radius: 15px;
    padding: 6px;
    font-weight: 700;
    font-size: 15px;
}

.buscador {
    text-align: center;
    border: 2px solid var(--principal);
    border-radius: 6px;
}

::placeholder {
    color: rgb(53, 141, 53);
    font-size: 1.2rem;
}

.buscador:hover {
    background-color: var(--principal);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card-jyf {
        width: 40vw;
        min-height: 40vh;
        object-fit: contain;
    }

    .card-contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    }

@media only screen and (min-width: 1024px) {
    .card-jyf {
        width: 20vw;
        min-height: 20vh;
        object-fit: contain;
    }

    .card-contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}
